/* Put custom CSS in here */

.title1 {
  position: relative;
  top: 5%;
  left: 20%;
  font-size: 25px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#picture1 {
  height: 400px;
  background-color: grey;
}

#section1 {
  height: 820px;
  background-color: pink;
}

#section2 {
  height: 820px;
  background-color: yellow;
}

#section3 {
  height: 820px;
  background-color: green;
}

.buttongreen1 {
    position: absolute;
    top: 85%;
    right: 5%;
    height: 100px;
    width: 100px;
  }

.buttonred1 {
    position: absolute;
    top: 85%;
    left: 5%;
    height: 100px;
    width: 100px;
  }

  .buttongreen2 {
    position: absolute;
    top: 1500px;
    right: 5%;
    height: 100px;
    width: 100px;
  }

.buttonred2 {
    position: absolute;
    top: 1500px;
    left: 5%;
    height: 100px;
    width: 100px;
  }

  .buttongreen3 {
    position: absolute;
    top: 2320px;
    right: 5%;
    height: 100px;
    width: 100px;
  }

.buttonred3 {
    position: absolute;
    top: 2320px;
    left: 5%;
    height: 100px;
    width: 100px;
  }

.flex-billede {
    background: chocolate;
    height: 400px;
    text-align: center;
    align-content: center;
  }

.description1 {
    position: relative;
    text-align: center;
    top: 50px;
    max-width: 800px;
    margin:0 auto;

  }



  @import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-title {
  background: tomato;
  padding: 5px;
  width: 50%;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item-full {
  background: tomato;
  padding: 5px;
  width: 95%;
  height: 400px;
  margin-top: 10px;
  align-content: center;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}